Mako
funcy
cidict
pymetar
pymills
procname
requests
attrdict
pyenchant
html2text
simpleeval
feedparser
jsonrpc-requests

# circuits
# Development version of circuits
-e git+https://github.com/circuits/circuits.git#egg=circuits
