Mako
funcy
cidict
procname
pymetar
pymills
requests
attrdict
simpleeval
pyenchant
feedparser
html2text

# Development version of circuits
-e hg+https://bitbucket.org/circuits/circuits#egg=circuits

wheel
pudb

tox
pytest
pytest-cov
