Mako
funcy
cidict
procname
pymetar
pymills
requests
attrdict
simpleeval
pyenchant
feedparser
html2text

# circuits
# Development version of circuits
-e git+https://github.com/circuits/circuits.git#egg=circuits
