Mako
funcy
cidict
Jinja2
pymetar
pathlib
pymills
procname
requests
attrdict
pyenchant
html2text
simpleeval
feedparser
jsonrpc-requests

# circuits
# Development version of circuits
-e git+https://github.com/circuits/circuits.git#egg=circuits
wheel
pudb

tox
pytest
pytest-cov
